/* Global */
* {
  box-sizing: border-box;
}
:root {
  --latoBold: LatoBold;
  --latoRegular: LatoRegular;
  --robotoBold: RobotoBold;
  --robotoMedium: RobotoMedium;
  --robotoRegular: RobotoRegular;
}

/* Header */
.header {
  background-image: url(../img/header_bg.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.header__container {
  max-width: 1107px;
  margin: 0 auto;
}
.header__top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 50px;
}
.header__top-logo {
  width: 172px;
  height: 29px;
  margin-left: -2px;
}
.header__nav {
  display: flex;
  gap: 20px;
  margin-left: -5px;
}
.header__nav-link {
  text-decoration: none;
  cursor: pointer;
  font-family: var(--robotoMedium);
  font-size: 14px;
  text-transform: uppercase;
  color: #fff;
}
.header__top-btn {
  border: 1px solid #fff;
  border-radius: 6px;
  width: 100px;
  height: 40px;
  background-color: rgba(0, 0, 0, 0.0);
  font-family: var(--robotoRegular);
  font-size: 14px;
  text-transform: uppercase;
  text-align: center;
  color: #fff;
  cursor: pointer;
  margin-right: 2px;
}
.header__bottom {
  text-align: center;
  padding-top: 175px;
  padding-bottom: 188px;
}
.header__bottom-title {
  font-family: var(--robotoBold);
  font-size: 72px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #fff;
  margin-bottom: 44px;
}
.header__bottom-txt {
  font-family: var(--robotoMedium);
  font-size: 24px;
  line-height: 150%;
  text-align: center;
  color: #fff;
  max-width: 450px;
  margin: 0 auto 55px;
  padding-right: 5px;
}
.header__bottom-btn {
  border-radius: 6px;
  width: 160px;
  height: 50px;
  background-color: #fff;
  font-family: var(--robotoRegular);
  font-size: 14px;
  text-transform: uppercase;
  color: #ed4c5c;
  border: none;
}
.burger__open {
  cursor: pointer;
  display: none;
}
.burger__open-line {
  width: 30px;
  height: 3px;
  background-color: #fff;
  margin-bottom: 5px;
}
.burger__open-line:last-child {
  margin-bottom: 0;
}
.burger__menu {
  width: 320px;
  height: 100%;
  position: fixed;
  top: 0;
  left: -320px;
  background-color: #fff;
  padding-top: 50px;
  padding-left: 50px;
}
.burger__menu-inner {
  display: flex;
  justify-content: space-between;
}
.burger__menu-open {
  left: 0;
  animation: burgerOpenX 0.5s linear;
}
.burger__menu-close {
  left: -320px;
  animation: burgerCloseX 0.5s linear;
}
.burger__nav-link {
  margin-bottom: 25px;
  cursor: pointer;
  text-decoration: none;
  font-family: var(--robotoMedium);
  font-size: 14px;
  text-transform: uppercase;
  color: #000;
}
.burger__close {
  cursor: pointer;
  margin-right: 30px;
}
.burger__close-line {
  width: 30px;
  height: 3px;
  background-color: black;
  margin-bottom: 16px;
}
.burger__close-line:first-child {
  transform-origin: top left;
  transform: rotate(40deg);
}
.burger__close-line:last-child {
  margin-bottom: 0;
  transform-origin: bottom left;
  transform: rotate(320deg);
}
.burger__end-line {
  width: 230px;
  height: 1px;
  background-color: black;
  margin-top: 20px;
}
@keyframes burgerOpenX {
  0% {
    left: -320px;
  }
  50% {
    left: -160px;
  }
  100% {
    left: 0;
  }
}
@keyframes burgerCloseX {
  0% {
    left: 0px;
  }
  50% {
    left: -160px;
  }
  100% {
    left: -320px;
  }
}

@media screen and (max-width: 1200px) {
  .header__container {
    padding-right: 30px;
    padding-left: 30px;
  }
}
@media screen and (max-width: 900px) {
  .burger__open {
    display: block;
  }
  .header__nav {
    display: none;
  }
}
@media screen and (max-width: 600px) {
  .header__bottom-title {
    font-size: 48px;
  }
  .header__bottom-txt {
    font-size: 20px;
    max-width: 280px;
  }
  .header__bottom {
    padding-top: 120px;
    padding-bottom: 100px;
  }
}
@media screen and (max-width: 450px) {
  .header__top {
    flex-direction: column;
    padding-top: 30px;
  }
  .header__top-logo {
    margin-left: 0px;
    margin-bottom: 25px;
  }
  .burger__open {
    margin-bottom: 30px;
  }
  .header__top-logo {
    padding-right: 0;
  }
  .header__bottom-title {
    font-size: 32px;
  }
  .header__bottom-txt {
    font-size: 18px;
    max-width: 280px;
  }
  .header__bottom {
    padding-top: 80px;
    padding-bottom: 80px;
  }
}

/* About */
.about {
  padding-top: 94px;
  padding-bottom: 95px;
}
.about__container {
  max-width: 1015px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}
.about__content {
  max-width: 445px;
  margin-left: -48px;
}
.about__content-title {
  font-family: var(--robotoMedium);
  font-size: 36px;
  color: #000;
  line-height: 118%;
  padding-top: 32px;
  margin-bottom: 45px;
}
.about__content-txt {
  font-family: var(--robotoRegular);
  font-size: 14px;
  line-height: 142%;
  text-align: justify;
  color: #000;
  margin-bottom: 15px;
}
.about__content-link {
  font-family: var(--robotoRegular);
  font-size: 14px;
  line-height: 140%;
  color: #ed4c5c;
  text-decoration: none;
  cursor: pointer;
}
.about-img {
  width: 445px;
  margin-right: 47px;
}

@media screen and (max-width: 1200px) {
  .about__container {
    padding-right: 30px;
    padding-left: 30px;
  }
  .about__content {
    margin-left: 0px;
  }
  .about-img {
    margin-right: 0px;
  }
}
@media screen and (max-width: 1000px) {
  .about__container {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  .about__content {
    margin-bottom: 40px;
  }
}
@media screen and (max-width: 500px) {
  .about-img {
    width: 280px;
  }
  .about__content {
    max-width: 280px;
  }
  .about {
    padding-top: 50px;
    padding-bottom: 50px;
  }
  .about__content-title {
    font-size: 20px;
  }
  .about__content-txt {
    font-size: 12px;
  }
}

/* Overview */
.overview {
  padding-top: 66px;
  padding-bottom: 124px;
  background: #fafafa;
}
.overview__container {
  max-width: 1110px;
  margin: 0 auto;
}
.overview-title {
  font-family: var(--robotoMedium);
  font-size: 36px;
  text-align: center;
  color: #000;
  margin-bottom: 79px;
}
.overview__body {
  display: grid;
  grid-template-columns: 350px 350px 350px;
  gap: 30px;
}
.overview__item {
  width: 350px;
  background-repeat: no-repeat;
  background-position: top;
}
.overview__card {
  border-radius: 8px;
  width: 293px;
  height: 198px;
  box-shadow: 0 5px 30px 0 rgba(0, 0, 0, 0.1);
  background: #fff;
  padding-top: 26px;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: 29px;
  margin-top: 157px;
}
.overview__card-name {
  font-family: var(--robotoMedium);
  font-size: 18px;
  text-align: center;
  color: #101010;
  max-width: 229px;
  margin: 0 auto 17px;
  line-height: 120%;
}
.overview__card-txt {
  font-family: var(--robotoRegular);
  font-size: 12px;
  line-height: 150%;
  text-align: center;
  color: #101010;
  max-width: 229px;
  margin: 0 auto 18px;
}
.overview__card-link {
  font-family: var(--robotoRegular);
  font-size: 12px;
  text-align: center;
  color: #ed4c5c;
  cursor: pointer;
  text-decoration: none;
  display: block;
}
.overview__item_1 {
  background-image: url(../img/overview_item-1.png);
}
.overview__item_2 {
  background-image: url(../img/overview_item-2.png);
}
.overview__item_3 {
  background-image: url(../img/overview_item-3.png);
}

@media screen and (max-width: 1200px) {
  .overview__container {
    padding-right: 30px;
    padding-left: 30px;
    max-width: 790px;
  }
  .overview__body {
    grid-template-columns: 350px 350px;
    row-gap: 50px;
  }
}
@media screen and (max-width: 800px) {
  .overview__body {
    grid-template-columns: 350px;
    justify-content: center;
  }
  .overview {
    padding-bottom: 60px;
  }
}
@media screen and (max-width: 410px) {
  .overview__body {
    grid-template-columns: 260px;
  }
  .overview__item {
    width: 260px;
    border-radius: 8px;
  }
  .overview__card {
    width: 260px;
    margin-left: 0;
  }
}

/* Features */
.features {
  padding-top: 66px;
  padding-bottom: 94px;
}
.features__container {
  max-width: 1110px;
  margin: 0 auto;
}
.features-title {
  font-family: var(--robotoMedium);
  font-size: 36px;
  text-align: center;
  color: #000;
  margin-bottom: 78px;
}
.features__body {
  display: grid;
  grid-template-columns: 255px 255px 255px 255px;
  gap: 30px;
}
.features__item {
  max-width: 255px;
  height: 226px;
  text-align: center;
}
.features__item_inside {
  position: relative;
  margin-bottom: 32px;
}
.features__item_inside-number {
  font-family: var(--latoBold);
  font-size: 100px;
  color: rgba(16, 16, 16, 0.08);
}
.features__item_inside-icon {
  position: absolute;
}
.features-icon_1 {
  top: 49px;
  left: 87px;
}
.features-icon_2 {
  top: 55px;
  left: 94px;
}
.features-icon_3 {
  top: 51px;
  left: 93px;
}
.features-icon_4 {
  top: 61px;
  left: 104px;
}
.features__item-name {
  font-family: var(--robotoMedium);
  font-size: 18px;
  color: #101010;
  margin-bottom: 12px;
}
.features__item-txt {
  font-family: var(--robotoRegular);
  font-size: 12px;
  color: #000;
  max-width: 191px;
  margin: 0 auto;
  line-height: 110%;
}

@media screen and (max-width: 1200px) {
  .features__container {
    padding-right: 30px;
    padding-left: 30px;
    max-width: 600px;
  }
  .features__body {
    grid-template-columns: 255px 255px;
  }
}
@media screen and (max-width: 600px) {
  .features__body {
    grid-template-columns: 255px;
    justify-content: center;
  }
  .features {
    padding-bottom: 50px;
  }
}

/* Download */
.download {
  background: #ed4c5c;
  padding-top: 94px;
  padding-bottom: 95px;
}
.download__container {
  max-width: 1015px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}
.download__content {
  max-width: 445px;
  padding-top: 28px;
  margin-left: -47px;
}
.download__content-title {
  font-family: var(--robotoMedium);
  font-size: 36px;
  color: #fff;
  margin-bottom: 50px;
  line-height: 115%;
}
.download__content-txt {
  font-family: var(--robotoRegular);
  font-size: 14px;
  line-height: 140%;
  text-align: justify;
  color: #fff;
  margin-bottom: 43px;
}
.download__box {
  display: flex;
  margin-left: -3px;
}
.download__box-icon:last-child {
  margin-left: 23px;
}
.download-img {
  width: 445px;
  margin-right: 47px;
}

@media screen and (max-width: 1200px) {
  .download__container {
    padding-right: 30px;
    padding-left: 30px;
  }
  .download-img {
    margin-right: 0px;
  }
  .download__content {
    margin-left: 0px;
  }
}
@media screen and (max-width: 1000px) {
  .download__container {
    flex-direction: column;
    align-items: center;
  }
  .download__content {
    text-align: center;
  }
  .download__box {
    margin-left: 0px;
    justify-content: center;
  }
  .download-img {
    margin-top: 50px;
  }
}
@media screen and (max-width: 550px) {
  .download {
    padding-top: 50px;
    padding-bottom: 50px;
  }
  .download-img {
    width: 260px;
  }
  .download__content {
    max-width: 260px;
  }
  .download__content-title {
    font-size: 24px;
  }
}

/* Contact */
.contact {
  padding-top: 159px;
  padding-bottom: 136px;
}
.contact__container {
  max-width: 1099px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}
.contact__content {
  padding-top: 28px;
  max-width: 445px;
  margin-left: 5px;
}
.contact__content-title {
  font-family: var(--robotoMedium);
  font-size: 36px;
  color: #000;
  margin-bottom: 59px;
}
.contact__content-txt {
  font-family: var(--robotoRegular);
  font-size: 14px;
  line-height: 140%;
  text-align: justify;
  color: #000;
}
.contact__form {
  max-width: 540px;
  margin-right: -6px;
}
.contact__form-input {
  border: 1px solid #333;
  border-radius: 6px;
  width: 540px;
  height: 60px;
  font-family: var(--robotoRegular);
  font-size: 16px;
  color: rgba(19, 39, 67, 0.5);
  padding-left: 31px;
  margin-bottom: 24px;
}
.contact__form-btn {
  border: 1.50px solid #ed4c5c;
  border-radius: 6px;
  width: 160px;
  height: 50px;
  background: #ed4c5c;
  font-family: var(--robotoRegular);
  font-size: 14px;
  text-transform: uppercase;
  color: #fff;
  cursor: pointer;
}

@media screen and (max-width: 1150px) {
  .contact__container {
    padding-right: 30px;
    padding-left: 30px;
    flex-direction: column;
    align-items: center;
  }
  .contact__form {
    margin-right: 0px;
  }
  .contact__content {
    margin-left: 0px;
    text-align: center;
    margin-bottom: 50px;
  }
  .contact__form-btn {
    margin: 0 auto;
    display: block;
  }
  .contact__content-title {
    margin-bottom: 30px;
  }
}
@media screen and (max-width: 600px) {
  .contact {
    padding-top: 50px;
    padding-bottom: 50px;
  }
  .contact__content {
    max-width: 260px;
  }
  .contact__form {
    max-width: 260px;
  }
  .contact__form-input {
    width: 260px;
  }
  .contact__content-title {
    font-size: 24px;
  }
}

/* Footer */
.footer {
  background: #fafafa;
  padding-top: 47px;
  padding-bottom: 48px;
}
.footer__content {
  margin-left: 168px;
}
.footer__content-title {
  font-family: var(--latoBold);
  font-size: 18px;
  color: #101010;
  margin-bottom: 20px;
}
.footer__content-adress {
  font-family: var(--latoRegular);
  font-size: 12px;
  line-height: 150%;
  color: #101010;
  margin-bottom: 46px;
}
.footer__content-txt {
  font-family: var(--latoRegular);
  font-size: 12px;
  color: #101010;
}

@media screen and (max-width: 500px) {
  .footer__content {
    margin-left: 0px;
    margin: 0 auto;
    max-width: 250px;
  }
}